DB_URL=jdbc:postgresql://localhost:5432/cloud_storage
DB_USER=postgres
DB_PASSWORD=postgres
JWT_SECRET=VGhpc0lzQVN1cGVyU2VjdXJlSldUU2VjcmV0S2V5Rm9yRGlwbG9tMjAyNg==
JWT_EXPIRATION_SECONDS=86400
STORAGE_ROOT=storage
CORS_ALLOWED_ORIGIN_PATTERN=http://localhost:*
